body {
	margin: 0px;
	padding: 0px;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	background: #e7eef5;
	color: #222222;
}

a, a:visited, a:active {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #27609b;
	text-decoration: none;
}

a:hover {
	color: #27609b;
	text-decoration: underline;
}

img {
	padding: 0;
	border: 0px;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}
	
#container {
	width: 960px;
	margin: 0 auto;	
	padding: 0px;
}

#header {
	width: 958px;
	height: 167px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	background: url('images/blue-bg.gif') left top repeat-x; 
	float: left;
	border-left: 1px solid #7fabda;
	border-right: 1px solid #7fabda;
}

#header h1 {
	color: #ffffff;
	letter-spacing: -1px;
	font-size: 36px;
	font-weight: normal;
	margin: 26px 0px 0px 30px;
	padding: 0px;
}

#header p {
	margin-top: 0px;
	margin-left: 32px;
	margin-bottom: 0px;
	padding: 0px;
	text-align: left;
	font-size: 14px;
	color: #accbea;
}

#header h1 a, #header h1 a:visited, #header h1 a:active, #header h1 a:hover {
	color: #ffffff;
	font-size: 36px;
	text-decoration: none;
}

#topmenu {
	float: left;
	position: absolute;
	top: 130px;
	padding: 0px 0px 0px 30px;
	margin: 0px;
}

#topmenu ul {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#topmenu li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;

}

#topmenu li a, #topmenu li a:visited, #topmenu li a:active {
	display: block;
	color: #222222;
	text-decoration: none;
	background: url('images/blue-br.gif') right top no-repeat;
	float: left;
	margin: 0px 3px 0px 0px;
	padding: 12px 10px 11px 0px;
}

#topmenu li a span, #topmenu li a:visited span, #topmenu li a:active span {
	background: url('images/blue-bl.gif') top left no-repeat;
	padding: 12px 15px 11px 25px;
}

#topmenu li a:hover span {
	text-decoration: underline;
}

#topmenu li a.highlight, #topmenu li a:visited.highlight, #topmenu li a:active.highlight {
	background: url('images/blue-brh.gif') right top no-repeat;
}

#topmenu li a.highlight span, #topmenu li a:visited.highlight span, #topmenu li a:active.highlight span {
	background: url('images/blue-blh.gif') top left no-repeat;
}

#contentcontainer {
	float: left;
	width: 958px;
	background: #ffffff; 
	margin: 0px;
	padding: 20px 0px 0px 0px;
	border-left: 1px solid #b4b9bf;
	border-right: 1px solid #b4b9bf;
}

#content {
	width: 532px;
	float: left;
	display: inline;
	margin: 15px 30px 0px 30px;
	padding: 0px 0px 35px 0px;
	
}

#content p {
	line-height: 130%;
	margin: 12px 0px 12px 0px;
	padding: 0px;
}

#content h2 {
	border-bottom: 1px solid #e7eef5;
}

#content h2, #content h2 a, #content h2 a:visited, #content h2 a:active {
	letter-spacing: -1px;
	font-size: 22px;
	text-decoration: none;
	font-weight: normal;
	color: #27609b;
	margin: 0px;
}

#content h2 a:hover {
	text-decoration: none;
	color: #222222;
}

.entry {
	margin: 0px;	
	padding: 6px 0px 0px 0px;
}

.post {
	margin: 0px;
	padding: 0px 0px 14px 0px;
}

#content p.posted {
	font-size: 12px;
	height: 15px;
	text-align: right;
	color: #6e6e6e;
	margin-top: 2px;
	margin-bottom: 0px;
	padding: 0px;
}

.posted a, .posted a:visited, .posted a:active {
	color: #6e6e6e;
}
.posted a:hover {
	text-decoration: underline;
	color: #222222;
}

.posttime {
	float: left;
	background: url('images/icon-post.gif') no-repeat left center;
	padding: 0px 0px 0px 13px;
	margin: 0px;
	color: #6e6e6e;
}

.comments {
	background: url('images/icon-com.gif') no-repeat left center;
	width: 100%;
	text-align: right;
	padding: 0px 0px 0px 16px;
	margin: 0px;
}

#content .tags {
	padding: 0px 0px 0px 18px;
	margin: 12px 0px 12px 0px;
	background: url('images/icon-tag.gif') no-repeat left center;
}

h3 {
	margin: 10px 0px 14px 0px;	
	color: #27609b;
	font-size: 15px;
	font-weight: bold;
}

#commentlist {
	list-style: none;
	margin: 0;
	padding: 0px;
}

#commentlist li {
	margin: 0px;
	padding: 14px 11px 10px 11px;
}

#commentlist .altcolor1 {
	background: #e7eef5;
}

#commentlist .altcolor2 {
	background: #ffffff;
}

#commentlist li p {
	margin-top: 12px;
	margin-bottom: 6px;
	line-height: 130%;
}

#writecomment {
	background: #e7eef5;
	border: 1px solid #b4b9bf;
	padding: 10px 10px 10px 15px;
	margin-top: 20px;
}

#writecomment p {
	margin: 10px;
}

form {
	padding: 0;
	margin: 0;
}

#commentform textarea {
	width: 95%;
	padding: 2px;
	border: 1px solid #b4b9bf;
}
	
#commentform input {
	width: 180px;
	margin: 0px 7px 0px 0px;
	border: 1px solid #b4b9bf;
}
	
#commentform #submit {
	background-color: #ffffff;
	border: 1px solid #b4b9bf;
	color: #222222;
}

blockquote {
	margin: 15px 30px 15px 5px;
	padding-left: 10px;
	border-left: 5px solid #d7d7d7;
	color: #6e6e6e;
}

#content .postpagesnav {
	padding: 15px 5px 5px 5px; 
	margin: 0px; 
	}

#content .postpagesnav .older {
	width:50%;
	float:left;
	}

#content .postpagesnav .newer {
	width: 50%; 
	float: right; 
	text-align:right;
	}


#sidebar {
	width: 305px;
	border-left: 1px solid #e7eef5;
	margin: 11px 0px 0px 0px;
	padding-left: 30px;
	float: left;
}

#sidebar .about {
	background: #e7eef5;
	border: 1px solid #b4b9bf;
	padding: 12px 15px 12px 15px;
}

#sidebar .about h2 {
	margin-top: 10px;
}

#sidebarleft {
	width: 147px;
	margin-right: 11px;
	float: left;
}

#sidebarright {
	width: 147px;
	float: left;
}

#sidebar h2 {
	color: #27609b;
	padding: 0px 0px 1px 0px;
	font-size: 18px;
	border-bottom: 1px solid #e7eef5;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 20px;

}

#sidebar ul {
	list-style: none; 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}

#sidebar li {
	margin-left: 0px;
	margin-bottom: 3px;
}

#sidebar ul li ul {
	list-style: none; 
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
}

#sidebar ul li ul li {	
	border-bottom: 1px dotted #e7eef5;
	margin-left: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
}

#sidebar ul li ul li a, #sidebar ul li ul li a:visited, #sidebar ul li ul li a:active {
	color: #222222;
}

#sidebar ul li ul li a:hover {
	color: #27609b;
	text-decoration: none;
}

#searchform {
	margin-top: 12px;		
}

#searchfield {
	border: 1px solid #b4b9bf;
	color: #222222;
	width: 200px;
	padding: 1px;
	margin: 1px;
	height: 18px;		
}

#contentb {
	float: left;
	display: inline;
	text-align: center;
	width: 960px;
	background: #e7eef5; 
	border-top: 1px solid #b4b9bf;
	margin: 0px;	
	padding: 16px 0px 16px 0px;
}

#contentb p {
	margin: 0px;
	padding: 0px;
}
